<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869276701783-bsg3jmthllh0mfgua2fhlsnumirl0ipd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869276701783-bsg3jmthllh0mfgua2fhlsnumirl0ipd</string>
	<key>API_KEY</key>
	<string>AIzaSyAq3B38hHiOWoy2qJVpd6Cycx-s6WjiEmI</string>
	<key>GCM_SENDER_ID</key>
	<string>869276701783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyauai.synpulseChallenge</string>
	<key>PROJECT_ID</key>
	<string>synpulse-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>synpulse-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869276701783:ios:53ce096eec8363e1017f12</string>
</dict>
</plist>